

/* -----------------------------
      application_form_unisp 左画面
--------------------------------- */
.split-left__inner {
  background-image: url(../img/contact_main.jpg);
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 35%;
}
.catch_copy {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.catch_copy h1 {
  font-weight: 700 !important;
  text-align: center;
}
.catch_copy span {
  font-size: 50%;
}



/* -----------------------------
      ボタン
--------------------------------- */
/* デザインコンテンツのボタン */
.img_content_btn a {
  position: relative;
  display: inline-block;
  padding: 1em 4em;
  border: 1px solid #0e192d;
  color: #0e192d;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  background-color: #fff;
}
.img_content_btn a:hover {
  color: #fff;
  z-index: 1;
}
.img_content_btn a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
  content: '';
  background: #0e192d;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.img_content_btn a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
  z-index: -1;
}

@media screen and (max-width:768px) {
  .img_content_btn a {
    width: 100%;
  }
}


/* -----------------------------
      form 注意書き
--------------------------------- */
.notes_contact {
  position: relative;
  margin: 2em 0;
  padding: 2rem;
  border: solid 3px #7db4e6;
  background-color: #f5f5f5;
}
.notes_contact_title {
  position: absolute;
  display: inline-block;
  top: -40px;
  left: -3px;
  padding: 0 9px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  background: #7db4e6;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.notes_contact ul {
  margin: 0; 
  padding-left: 2rem !important;
}


/* -----------------------------
      application form
--------------------------------- */
.contact-form {
  background-color: #f5f5f5;
  padding: 2rem;
  border: 3px solid #0e192d;
}

label {/* inputの見出し */
  margin-top: 40px;
  margin-bottom: 10px;
}

.form-control,
.bounceInRight {
  position: relative;
  background-color: #e3eef8;
  border: 2px solid #0e192d;
  color: #0e192d;
  line-height: 25px;
  overflow: hidden;
}
/* inputをクリックしたときの色 */
.form-control:focus {
  background-color: #0e192d;
  color: #fff;
}

.bounceInRight:hover {
  color: #fff;
  background-color: #0e192d;
}
.form-group .col-3,
.form-group .col-6 {
  padding-left: 0 !important;
}

@media screen and (max-width:768px) {
  .notes_contact,
  .contact-form {
    padding: 1rem;
  }
}


