/* -----------------------------
      スプリットレイアウト
--------------------------------- */
.split{
  display: table;
  width: 100%;
}
.split-item{
  display: table-cell;
}
.split-left{
  width: 35%;
  overflow: hidden;
  /* z-index: -10; */
}
.split-left__inner{
  position: fixed;
  width: 35%;
  /* z-index: -10; */
}
.split-right,
.split {
  overflow: hidden;
}

@media screen and (max-width:768px) {
  .split-left{
    width: 100%;
  }
  .split-left__inner{
    width: 100vw !important;
    z-index: -1;
    opacity: 0.1;
  }
  /* 右画面 */
  .split-item {
    display: block;
    
  }
}



/* -----------------------------
      ヘッダー
--------------------------------- */
/* ロゴの色 */
.header_logo h2 a {
  color: #000;
}

/* ロゴとメニューの間の余白 */
.header_nav {
  margin-left: auto;
  width: 100%;
}
.gnav {
  padding-top: 0.5rem;
  font-size: 80%;
  font-weight: bold;
  display: flex;
  height: 3rem;
  margin: 0 auto;
}
.gnav > li {/*親階層のみ幅を25%にする*/
  width: 15%;
}
.gnav li {
  list-style: none;
  position: relative;
  text-align: center;
}

.gnav li a {
  color: #0e192d;
  transition: 0.5s;
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  width: 100%;
}
.gnav li a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/*子階層以降共通*/
.dropdown_menu_pc {
  background-color: #fff;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2);
}
.dropdown_menu_pc li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
.gnav_sp {
  display: none;
}
.nav-link {
  display: flex !important;
  justify-content: flex-end!important;
}

@media screen and (max-width:768px) {
  .header_logo {
    display: flex;
    float: left;
  }

  /* PC用のナビメニューを非表示 */
  .gnav{
    display: none !important;
  }
  /* SP用のナビメニューを表示 */
  .gnav_sp {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
  }
  /* sp用メニューのドロップダウンの横幅 */
  .navbar-collapse {
    width: 100vw;
  }
  .navbar {
    position: absolute;
    right: 0;
  }
  .nav-link {
    display: flex !important;
    justify-content: center !important;
  }
}



/* ヘッダーキャッチコピー */
.jumbotron-fluid {
  background-image: url("../img/jumbotron_bg.jpg");
  background-size: 100%;
}
.jumbotron .container {
  padding: 160px 60px;
}
@media screen and (max-width:768px) {
  .jumbotron-fluid {
    margin: 0 calc(50% - 50vw);
  }
}

/* キャッチコピー下ロゴ */
.jumbotron h3 {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 175px;
  height: 175px;
  line-height: 175px;
  margin: 40px auto;
}
.jumbotron h3 span {
  background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width:768px) {
  .jumbotron .container {
    padding: 120px 20px;
  }
}



/* -----------------------------
      サイトテーマオリジナル見出し
--------------------------------- */
.main_title {
  position: relative;
  padding: 1rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* サブタイトル */
.main_title .main_title_b {
  font-size: 18px;
  display: block;
}
.main_title:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #fa4141;
}

/* 下層ページ見出し */
.first_letter_design:first-letter {
  font-size: 150%;
  color:#7db4e6;
}
/* 下層ページ小見出し */
.subpage_sub_h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}


/* -----------------------------
      footer
--------------------------------- */
footer {
  border-top: 1px solid #fff;
  z-index: 1;
}
.footer_content {
  background-color: #0e192d;
  color: #fff;
}

.footer_menu ul li {
  padding: 20px;
}
.footer_menu ul li a {
  color: #494949;
  font-size: 90%;
  transition: 0.5s;
}
.footer_menu ul li a:hover {
  color: #ccc;
  transition: 0.5s;
}
.footer_copy_light {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
}
.footer_copy_light p {
  margin-bottom: 0;
}