/* -----------------------------
      スプリットレイアウト
--------------------------------- */
.split{
  display: table;
  width: 100%;
}
.split-item{
  display: table-cell;
}
.split-left{
  width: 40%;
  /* z-index: -10; */
}
.split-left__inner{
  position: fixed;
  width: 40%;
  /* z-index: -10; */
}

@media screen and (max-width:768px) {
  .split-left{
    display: none;
  }
}



/* -----------------------------
      ヘッダー
--------------------------------- */
/* ロゴとの間の余白 */
.header_nav {
  margin-left: 20%;
}
.header_logo h2 a {
  color: #000;
}
.header_nav ul {
  font-size: 80%;
  font-weight: bold;
}
.header_nav ul li a {
  color: #0e192d;
  transition: 0.5s;
}
.header_nav ul li a:hover {
  opacity: 0.7;
  transition: 0.5s;
}
/* ヘッダーキャッチコピー */
.jumbotron-fluid {
  background-image: url("../img/jumbotron_bg.jpg");
  background-size: 100%;
}
.jumbotron .container {
  padding: 160px 60px;
}
/* キャッチコピー下ロゴ */
.jumbotron h3 {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 175px;
  height: 175px;
  line-height: 175px;
  margin: 40px auto;
}
.jumbotron h3 span {
  background-image: -webkit-linear-gradient(315deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  background-image: linear-gradient(135deg, #b8751e 0%, #ffce08 37%, #fefeb2 47%, #fafad6 50%, #fefeb2 53%, #e1ce08 63%, #b8751e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width:768px) {
  .jumbotron .container {
    padding: 120px 40px;
  }
}



/* -----------------------------
      サイトテーマオリジナル見出し
--------------------------------- */
.main_title {
  position: relative;
  padding: 1rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* サブタイトル */
.main_title .main_title_b {
  font-size: 18px;
  display: block;
}
.main_title:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #fa4141;
}

/* 小見出し */
.sub_title {
  position: relative;
}
.sub_title:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 55%;
  height: 2px;
  content: '';
  background: #000;
}
.sub_title .sub_title_deco {
  position: relative;
  padding: 0 1em;
  background: #fff;
}


/* -----------------------------
      footer
--------------------------------- */
footer {
  border-top: 1px solid #fff;
  z-index: 1;
}
.footer_content {
  background-color: #0e192d;
  color: #fff;
}

.footer_menu ul li {
  padding: 20px;
}
.footer_menu ul li a {
  color: #494949;
  font-size: 90%;
  transition: 0.5s;
}
.footer_menu ul li a:hover {
  color: #ccc;
  transition: 0.5s;
}
.footer_copy_light {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
}
.footer_copy_light p {
  margin-bottom: 0;
}