

/* -----------------------------
      company 左画面
--------------------------------- */
.split-left__inner {
  background-image: url(../img/company_main.jpg);
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 35%;
}
.catch_copy {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.catch_copy h1 {
  font-weight: 700 !important;
  text-align: center;
}
.catch_copy span {
  font-size: 50%;
}


/* -----------------------------
      テーブル
--------------------------------- */
tr {
  border-style: hidden;
}
th {
  width: 15%;
}
th, td {
  padding-top: 10px !important;
}

@media screen and (max-width:768px) {
  table {
    width: 100% !important;
    background-color: #fff !important;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2);
  }
  th {
    text-align: center;
    background-color: #f5f5f5 !important;
  }
  td {
    background-color: #fff !important;
  }
  th,td {
    display: block;
    width: auto;
  }
}