

/* -----------------------------
      application_form_unisp 左画面
--------------------------------- */
.split-left__inner {
  background-image: url(../img/contact_main.jpg);
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 35%;
}
.catch_copy {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.catch_copy h1 {
  font-weight: 700 !important;
  text-align: center;
}
.catch_copy span {
  font-size: 50%;
}



/* -----------------------------
      ボタン
--------------------------------- */
/* デザインコンテンツのボタン */
.img_content_btn a {
  position: relative;
  display: inline-block;
  padding: 1em 1em;
  border: 1px solid #0e192d;
  color: #0e192d;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  background-color: #fff;
  width: 100%;
}
.img_content_btn a:hover {
  color: #fff;
  z-index: 1;
}
.img_content_btn a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
  content: '';
  background: #0e192d;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.img_content_btn a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
  z-index: -1;
}
.img_content_btn {
  padding: 0 !important;
}
.left_btn_area {
  margin-right: 2%;
}

.btn_area {
  width: 96%;
  flex-wrap: inherit !important;
}

@media screen and (max-width:768px) {
  .img_content_btn a {
    width: 100%;
  }
  .btn_area {
    width: 100%;
    flex-wrap: wrap !important;
  }
}


/* -----------------------------
      form 注意書き
--------------------------------- */
.notes_contact {
  position: relative;
  margin: 2em 0;
  padding: 2rem;
  border: solid 3px #7db4e6;
  background-color: #f5f5f5;
}
.notes_contact_title {
  position: absolute;
  display: inline-block;
  top: -40px;
  left: -3px;
  padding: 0 9px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  background: #7db4e6;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.notes_contact ul {
  margin: 0;
}

.list-notes {
  padding-left: 1em !important;
  text-indent: -1em;
}
.list-notes_02 {
  padding-left: 1em !important;
}
/* 注意書きコンテンツ内のリスト */
.list-notes__item {
  list-style: none;
}
.list-notes__item::before {
  content: '※';
}
.note_enc_item {
  border: 1px solid #fa4141;
  padding: 2rem 1rem;
}





/* -----------------------------
      料金比較コンテンツタブ
--------------------------------- */
/*タブ切り替え全体のスタイル*/
.tabs {
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #7db4e6;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 2% 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #7db4e6;
  color: #fff;
}

.c-txtsp {
  background-color: #f1f1f1;
  padding: 1.5%;
  border-radius: 4px;
}

.tab_content_description {
  width: 96%;
  flex-wrap: inherit !important;
}
.center-txtsp {
  margin: 0 2%;
}

.hikari_logo {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  padding: 12px 0;
}
.medal_icon {
  position: absolute;
    top: -35px;
    left: 41%;
}
/* 注意書き */
.notes {
  font-size: 80%;
  list-style-type: none;
}

.notes li{
  padding-left: 1em;
  text-indent: -1em;
}

@media screen and (max-width:768px) {
  .tab_content_description {
    width: 100%;
    flex-wrap: wrap !important;
  }
}


/* -----------------------------
      申し込みコンテンツ
--------------------------------- */
.application_area {
  border: 3px solid #0e192d;
  border-radius: 5px;
  padding: 40px 20px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.1);
}
@media screen and (max-width:768px) {
  .application_area {
    padding: 20px 10px;
  }
}