/* -----------------------------
      philosophy 左画面
--------------------------------- */
.split-left__inner {
  background-image: url(../img/company_main.jpg);
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 40%;
}
.catch_copy {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.catch_copy h1 {
  font-weight: 700 !important;
  text-align: center;
}
.catch_copy span {
  font-size: 50%;
}


/* -----------------------------
      企業理念
--------------------------------- */
/* 青色背景の代表あいさつ */
.corporate_philosophy {
  background-color: #e3eef8;
  padding: 3rem;
}
/* 代表イメージ画像 */
.model_gorilla_img {
  border: 4px double #ddd;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.1);
}

@media screen and (max-width:768px) {
  .corporate_philosophy {
    background-color: #e3eef8;
    padding: 1rem 0;
  }
}