

/* -----------------------------
      recruit 左画面
--------------------------------- */
.split-left__inner {
  background-image: url(../img/recruit_main.jpg);
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 40%;
}
.catch_copy {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.catch_copy h1 {
  font-weight: 700 !important;
  text-align: center;
}
.catch_copy span {
  font-size: 50%;
}


/* -----------------------------
      業務開始までの流れフロー
--------------------------------- */
/* 各フローコンテンツ */
.flow_content {
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2);
}
/* 各フローの見出し */
.flow_title:first-letter {
  font-size: 120%;
  color: crimson;
}
.flow_text_area {
  padding: 18px;
  background-color: #f9f9f9;
  height: 190px;
  line-height: 1.8rem;
}
/* .col-lg-3 {
  padding-left: 6px;
  padding-right: 6px;
} */

/* -----------------------------
      各デザインコンテンツ
--------------------------------- */
.about_content {
  position: relative;
  display: flex;
}
.about_card_content {
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2);
  position: absolute;
  background-color: #fff;
  padding: 20px;
  right: 0;
  bottom: 10%;
  transition: 0.7s;
}
.about_card_content:hover {
  opacity: 0.7;
  transition: 0.7s;
}

/* デザインコンテンツのチェックマークアイコン */
.about_list {
  width: 2rem;
}

/* 福利厚生の注意書き */
.notes ul {
  font-size: 80%;
  color: crimson;
  list-style-type: none;
}

.notes li{
  padding-left: 1em;
  text-indent: -1em;
}

@media screen and (max-width:768px) {
  .about_card_content {
    padding: 15px 10px;
    bottom: -10%;
  }
  .about_card_content p {
    font-size: 10px !important;
  }

  /* デザインコンテンツのチェックマークアイコン */
  .about_list {
    width: 1rem;
  }
}