/* -----------------------------
      スプリットレイアウト
--------------------------------- */
.split{
  display: table;
  width: 100%;
}
.split-item{
  display: table-cell;
}
.split-left{
  width: 35%;
  overflow: hidden;
  /* z-index: -10; */
}
.split-left__inner{
  position: fixed;
  width: 35%;
  /* z-index: -10; */
}
.split-right,
.split {
  overflow: hidden;
}

@media screen and (max-width:768px) {
  .split-left{
    width: 100%;
  }
  .split-left__inner{
    width: 100vw !important;
    z-index: -1;
    opacity: 0.1;
  }
  /* 右画面 */
  .split-item {
    display: block;
    
  }
}



/* -----------------------------
      ヘッダー
--------------------------------- */
/* ロゴの色 */
.header_logo h2 a {
  color: #000;
}
.header_logo img {
  width: 75%;
}

/* ロゴとメニューの間の余白 */
.header_nav {
  margin-left: auto;
  width: 100%;
}
.gnav {
  padding-top: 0.5rem;
  font-size: 80%;
  font-weight: bold;
  display: flex;
  height: 3rem;
  margin: 0 auto;
}
.gnav > li {/*親階層のみ幅を25%にする*/
  width: 15%;
}
.gnav li {
  list-style: none;
  position: relative;
  text-align: center;
}
.gnav li a {
  color: #0e192d;
  transition: 0.5s;
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  width: 100%;
}
.gnav li a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/*子階層以降共通*/
.dropdown_menu_pc {
  background-color: #fff;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2);
}
.dropdown_menu_pc li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
.gnav_sp {
  display: none;
}
.nav-link {
  display: flex !important;
  justify-content: flex-end!important;
}

@media screen and (max-width:768px) {
  .header_logo {
    display: flex;
    float: left;
  }

  /* PC用のナビメニューを非表示 */
  .gnav{
    display: none !important;
  }
  /* SP用のナビメニューを表示 */
  .gnav_sp {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
  }
  /* sp用メニューのドロップダウンの横幅 */
  .navbar-collapse {
    width: 100vw;
  }
  .navbar {
    position: absolute;
    right: 0;
    z-index: 10;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .nav-link {
    display: flex !important;
    justify-content: center !important;
  }
}


/* -----------------------------
      サイトテーマオリジナル見出し
--------------------------------- */
.main_title {
  position: relative;
  padding: 1rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* サブタイトル */
.main_title .main_title_b {
  font-size: 18px;
  display: block;
}
.main_title:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #fa4141;
}

/* 下層ページ見出し */
.first_letter_design:first-letter {
  font-size: 150%;
  color:#7db4e6;
}
/* 下層ページ小見出し */
.subpage_sub_h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}
/* 下層ページ小見出し② */
.subpage_sub_h4__2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #fa4141;/*左線*/
}





/* -----------------------------
      footer
-------------------------------- */
footer {
  border-top: 1px solid #fff;
  z-index: 1;
}
.footer_logo {
  width: 20%;
}

.footer_content { /* footerの中身 */
  background-color: #0e192d;
  color: #fff;
}

/* フッターコンテンツの仕切り線 */
.footer_left_content,
.footer_center_content {
  border-right: 1px solid #fff;
}
@media screen and (max-width:768px) {
  .footer_left_content,
  .footer_center_content {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  /* フッターロゴ */
  .footer_logo {
    width: 50%;
  }
}

/* フッター左コンテンツのテキスト行間 */
.footer_left_content p {
  margin-bottom: 10px !important;
}

/* フッター内ボタン */
.footer_content_btn a {
  margin-top: 15%;
  padding: 1em 4em;
  border: 1px solid #fff !important;
  color: #fff;
  text-decoration: none;
  transition: .3s;
  background-color: #0e192d;
}
.footer_content_btn a:hover {
  color: #0e192d;
  background-color: #fff;
}

/* フッター右側コンテンツ */
.outside_list {/* リストのフォント */
  font-size: 85%;
}
.footer_right_content li a {/* リストのフォント */
  color: #fff;
}
/* リスト */
.footer_right_content .outside_list {
  margin-left: 1rem;
}
.footer_right_content .outside_list li {
  margin-bottom: .5rem;
}
/* 少リスト */
.inside_list {
  margin-left: 0;
}
.footer_right_content .inside_list li {
  list-style: none;
  margin-bottom: 0;
}
.footer_right_content .inside_list li::before {
  content: "- ";
}

/* footermenu */
.footer_menu ul li {
  padding: 20px;
}
.footer_menu ul li a {
  color: #494949;
  font-size: 90%;
  transition: 0.5s;
}
.footer_menu ul li a:hover {
  color: #ccc;
  transition: 0.5s;
}

/* コピーライト */
.footer_copy_light {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
}
.footer_copy_light p {
  margin-bottom: 0;
}